/* common styles */
html body {
    padding: 0;
    margin: 0;
    width: auto;
}

h1, h2, h3, p, ul {
    padding: 0;
    margin: 0;
}

.white {
    background: #ffffff;
}

.black {
    background: #1e1e1e;
}

.bg {
    background-image: url('../images/index-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 400px;
}

.right-pointer {
    padding: 0 10px;
    height: 350px;
}

.layout-center-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.sign-in-title {
    color: #bcbcbc;
}

.sign-in-text {
    color: #bcbcbc;
}

.sign-in-center {

}

/* header styles */
header {
    padding: 0;
    background: #dedede;
}

.li-sign-up {
    padding: 5px 0;
    list-style-type: none;
    width: inherit;
    margin: 4px;
}

.li-sign-up input {
    padding: 14px 20px;
    text-align: left;
    border-radius: 10px;
    width: inherit;
}

.li-sign-in {
    padding: 5px 0;
    list-style-type: none;
    width: inherit;
    margin: 4px;
}

.li-sign-in input {
    border-radius: 10px;
    padding: 14px 20px;
    text-align: left;
    width: inherit;
    border-color: black;
    background: #e0e0e0;
}

.width-300 {
    width: 300px;
}

.li-sign-up input:last-child {
    margin-right: 10px;
}

.left-column {
    width: 400px;
    float: left;
    padding: 100px 100px;
}

.right-column {
    /*width: 400px;*/
    float: right;
    padding: 30px 0;
}

.button {
    border-radius: 5px;
    color: #ffffff;
    font: 16px "Roboto", sans-serif;
    width: 343px;
    text-decoration: none;
    border: none;
    padding: 14px 20px;
    /*margin: 4px;*/
}

.small-button {
    border: medium none;
    border-radius: 5px;
    color: #ffffff;
    font: 15px "Roboto", sans-serif;
    float: right;
    height: 30px;
    width: 90px;
    margin: 10px;
}

.float-left {
    float: left;
}

.button:last-child {
    margin-bottom: 10px;
}

.green-button {
    background: #70c153;
}

.green-button:hover {
    background: #4b964b;
}

.green-button:active {
    background: #356b35;
}

.grey-button {
    background: #a3a3a3;
}

.grey-button:hover {
    background: #828282;
}

.grey-button:active {
    background: #585858;
}

.logo {
    float: left;
    padding: 0 30px;
    width: 150px;
}

/* footer styles */
footer {
    padding: 0;

    background: #ffffff;
}

/* footer styles */
footer {
    margin-top: 0;

    background: #1e1e1e;
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 40px;
}

footer .footer-info {
    width: 250px;
    float: left;

    font: 10px "Roboto", sans-serif;
    text-transform: uppercase;
    color: #a0a0a0;
    line-height: 3em;
}

footer .footer-menu {
    width: 400px;
    margin-left: 50px;
    margin-top: -10px;
    display: inline-block;
    vertical-align: top;
    float: left;
}

footer .footer-menu > a {
    width: 120px;
    display: inline-block;
    font: 14px "Roboto", sans-serif;
    color: #a0a0a0;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 2.3em;
    float: right;
}

footer .footer-menu > a:hover {
    color: #70c153;
}

footer .footer-social {
    width: 170px;
    float: right;
    font-size: 0;
}

footer .btn-social {
    display: inline-block;
    padding: 10px 9px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #a0a0a0;
    background-color: #000000;
    border-radius: 25px;
}

footer .btn-social:hover {
    color: #70c153;
}

footer .copyright {
    text-align: center;
}

footer .copyright p {
    font: 9px "Roboto", sans-serif;
    text-transform: uppercase;
    color: #a0a0a0;
    line-height: 5em;
}

.user-photo {
    padding: 50px;
    background: #ffffff 500px 500px no-repeat;
    box-shadow: 0 0 20px #000000;
    margin: 15px;
}

.photo-with-text {
    display: inline-block;
    position: relative;
}

.photo-with-text span {
    display: inline-block;
    font-size: 20px;
    left: 75px;
    top: 10px;
    position: absolute;
}

.photo-with-text div {
    display: inline-block;
    font-size: 20px;
    left: 20px;
    top: 18px;
    position: absolute;
}

.photo-with-text p {
    display: inline-block;
    left: 30px;
    bottom: 30px;
    position: absolute;
    font: 20px "Roboto", sans-serif;
}

.photo-with-text h2 {
    display: inline-block;
    color: #4b964b;
}

.photo-with-text h6 {
    display: inline-block;
    color: #70c153;
}

.avatar {
    background: #fff;
    box-shadow: 0 1px 1px 1px #bbb
}

.avatar-in-image {
    padding: 5px;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #999;
}

.avatar img {
    display: block;
    width: 100%;
    border: 0;
    margin: 0;
}

.avatar img.round {
    border-radius: 50%;
}

.avatar-in-header {
    float: right;
    padding: 5px;
    margin: 0 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #999;
}

.avatar-in-profile {
    float: left;
    padding: 5px;
    width: 300px;
    height: 300px;
    margin-left: 100px;
    margin-top: 50px;
    position: relative;
}

.caption {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    font: 15px "Roboto", sans-serif;
    left: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 95%;
    margin: 5px;
}

#menu_body li ul {
    display: none;
}

#menu_body li:hover ul, #menu_body li.over ul {
    display: block;
}

#menu_body {
    float: right;
}

#menu_body a {
    display: block;
    width: 200px;
    height: 27px;
    padding-left: 15px;
}

#menu_body ul li {
    list-style-type: none;
    margin-left: -40px;
}

#menu_body ul li a {
    color: #fff;
    text-decoration: none;
    font: 15px "Roboto", sans-serif;
}

#menu_body ul li a:hover {
    background: #424242;
}

#menu_body ul li ul li {
    background: #7F7F7F;
}

.right {
    float: right;
}

.tab {
    width: 400px;
    height: 270px;
    background: #fff;
    border-radius: 0 0 12px 12px;
    -webkit-border-radius: 0 0 12px 12px;
    -moz-border-radius: 0 0 12px 12px;
    display: none;
}

.wrap_tab {
    width: 400px;
    height: 270px;
    margin-top: 50px;
    margin-right: 300px;
}

.vertical-bg {
    background: url('http://sergey-oganesyan.ru/wp-content/uploads/2014/01/f.jpg');
}

.myButton {
    background-color: #007dc1;
    border-radius: 3px;
    border: 1px solid #124d77;
    display: inline-block;
    color: #ffffff;
    font: 15px "Roboto", sans-serif;
    padding: 6px 24px;
}

.myButton:hover {
    background-color: #0061a7;
}

.myButton:active {
    position: relative;
    top: 1px;
}